html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #ffb5b5;
  }
  
  #navbar {
    width: 200px;
    position: fixed;
    top: 0;
    height: 100%;
    border-right: solid;
    border-color: #407088;
    padding: 0;
    margin: 0;
    background-color: #132743;
  }
  
  #navbar header {
    font-family: impact, sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: #ffcbcb;
    padding: 0 5px;
  }
  
  #navbar a {
    display: block;
    font-family: sans-serif;
    text-decoration: none;
    color: #1a1a23;
    padding: 2px 5px;
    margin: 3px;
    background-color: #ffb5b5;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
  }
  
  #navbar a:hover {
    background-color: #ffcbcb;
  }
  
  main {
    position: absolute;
    margin-left: 203px;
    padding: 10px 0 0 0;
    background-color: #ffb5b5;
  }
  
  section {
    border-bottom: 3px solid #407088;
    padding: 10px;
    margin: 0;
    font-family: sans-serif;
    color: #1e1e23;
  }
  
  section header {
    font-family: verdana;
    font-weight: 800;
    font-size: 20px;
    color: #3e2231;
  }
  
  section a {
    color: #1e1e23;
  }
  
  pre {
    background-color: #1e1e23;
    border: 3px solid #407088;
    color: #1afe2d;
    padding: 15px;
    max-width: 200px;
  }
  
  code {
    background-color: #132743;
    color: #ffcbcb;
    padding: 3px 5px;
    border-radius: 5px;
  }
  
  #free-line {
    padding: 0;
  }
  
  li {
    padding: 1px;
    line-height: 135%;
  }
  
  
  section:first-of-type {
    padding-top: 0px;
  }
  
  section:last-of-type {
    border: none;
    padding-bottom: 0px;
  }
  
  
  
  @media only screen and (max-width: 1200px){
    #navbar {
      position: absolute;
      max-height: 50px;
      border:none;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    #navbar a, #navbar header {
      display: inline-block;
      text-align: center;
      margin: auto;
    }
  
    main {
      position: relative;
      margin-left: 0px;
      margin-top: 50px;
    }
  }
  
  @media only screen and (max-width: 850px){
    #navbar a {
      display: none;
    }
  }